/* Geist */

@font-face {
    font-family: "Geist";
    src: url(@/shared/assets/fonts/Geist/Geist-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url(@/shared/assets/fonts/Geist/Geist-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url(@/shared/assets/fonts/Geist/Geist-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/* Onest */

@font-face {
    font-family: "Onest";
    src: url(@/shared/assets/fonts/Onest/Onest-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}