.wrapper {
    position: fixed;
    inset: 0;
    z-index: 100;
}

.outline {
    position: absolute;
    inset: 0;
    background-color: var(--opacity-bg);
    backdrop-filter:var(--blur);
    z-index: 99;
}

.content {
    background-color: var(--color-3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 0.3s all ease-in-out;
    transform: translateY(100%);
}

.inner {
    overflow-y: auto;
    height: 100%;
}


.content.showed {
    transform: translateY(0%);
}

.content {
    height: 100%;
}

.content.xs {
    border-radius: 12px 12px 0 0;
    padding: 0 16px 16px
}


.content.sm {
    border-radius: 24px 24px 0 0;
    padding: 0 16px 16px;
}


.top {
    height: 32px;
    display: flex;

}

.topLine {
    width: 64px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--color-7);
    margin: auto;
}

.closeButton {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
}