.container.container {
    max-width: 812px;
    width: 100%;
}

.title {
    color: var(--color-5);
}

.text {
    color: var(--color-14);
    margin: 16px 0 24px;
}

.search {
    flex-grow: 1;
}

.flex {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pinButton {
    background-color: var(--color-23);
    --pin-color: var(--color-14);
}

.wrapper {
    padding-top: 30px;
}

.list {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.box,
.aiBox {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    border-radius: 16px;
}

.aiBox {
    background-color: var(--color-35);
}
.box {
    background-color: var(--color-6);
}

.iconBoxSecond {
    background-color: var(--color-35);
}

.iconBoxWhite {
    background-color: #fff;
}

.card:hover {
    background-color: var(--color-23);
}

.card:hover .aiBox {
    background-color: #fff;
}

.card:hover .box {
    background-color: var(--color-2);
}

.card {
    padding: 16px;
    position: relative;
}

.cardText {
    color: #646567;
}

.pin {
    align-self: flex-start;
    --pin-color: #646567;
    margin-left: auto;
}

.pin:hover {
    background-color: var(--color-1);
    --pin-color: var(--color-14);
}

.info {
    margin-left: 4px;
}

.count {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }

    .text.text {
        font-size: 14px;
    }

    .text br {
        display: none;
    }

    .list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .cardText {
        max-width: 174px;
    }
}
