.wrapper {
    display: flex;
    justify-content: space-between;
}

.themes {
    display: flex;
    gap: 10px;
    width: 100%;
}

.button {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    display: grid;
    place-items: center;
    --sidebar-icon-color: var(--secondary-text-color);
}

.wrapper.isCompact .button:not(.active) {
    display: none;
}

.button.active {
    --icon-color-4: var(--icon-color-5);
    background-color: var(--bg-color-1);
    transition: .2s all ease;
}

.wrapper.isCompact .button.active {
    margin: 0 auto;
}