.overlay {
    position: absolute;
    z-index: 99;
    inset: 0;
    background-color: var(--opacity-bg);
    backdrop-filter: var(--blur);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    box-shadow: 0 2px 10px 0 rgba(41, 50, 43, 0.10);
    border-radius: 20px;
    background-color: var(--color-3);
    position: relative;
}

.close {
    position: absolute;
    right: 16px;
    top: 16px;
}