.overlay {
    height: 100dvh;
    position: fixed;
    z-index: 60;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--opacity-bg);
    backdrop-filter: var(--blur);
    flex-direction: column;
    display: flex;
    padding: 40px 12px;
    overflow-y: auto;
}

.modal {
    box-shadow: 0 2px 10px 0 rgba(41, 50, 43, 0.10);
    border-radius: 20px;
    background-color: var(--color-3);
    position: relative;
    z-index: 60;
    width: 100%;
    margin: auto;
}

.modal.xs {
    padding: 12px;
}

.modal.sm {
    padding: 16px;
}

.modal.md {
    padding: 24px;
}
.modal.hasTitle {
    padding: 16px 24px 24px;
}

.title {
    padding-bottom: 16px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -24px;
    right: -24px;
    height: 1px;
    background-color: var(--color-6);
}

.close {
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-2);
    right: 12px;
    top: 12px;
    --close-color: var(--color-11)
}

