.switcher{
    display:flex;
    padding:4px;
    background:var(--color-31);
    border-radius:12px;
    position:relative;
    width:fit-content;
    margin:0 auto;
}

.bg{
    position:absolute;
    left:0;
    top:4px;
    bottom:4px;
    border-radius:12px;
    background:var(--color-2);
    box-shadow:0 1px 3px 0 rgba(0,0,0,.07);
    z-index:0;
    transition: transform .2s ease, width .2s ease;
    will-change: transform, width;
}

.button{
    position:relative;
    z-index:1;
    color: var(--color-22);
    height:40px;
    background:transparent;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:8px 16px;
    font-weight:500;
    gap: 8px;
}

.button.active {
    color:var(--color-5);
}

.button span {
    display: block;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
    height: 24px;
    background-color: var(--color-32);
    color: var(--success-color-3);
    font-weight: 500;
}

.button.active span {
    background-color: var(--color-33);
}