.input {
    margin-top: 20px;
}

.text {
    color: #646567;
    margin: 8px 0 20px;
}

.error {
    text-align: center;
}

.errorTitle {
    color: var(--color-10);
    margin: 12px 0 8px;
}

.errorText {
    color: var(--color-14);
}
