.sorting {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button {
    min-width: 130px;
    justify-content: space-between;
    background-color: var(--color-30);
}

.button.opened svg {
    transform: rotate(180deg);
}
.dropdown{
    min-width: 160px;
}


@media (max-width: 1280px) {
    .button {
        background-color: var(--color-6);
    }
}