.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.text {
    margin-top: 16px;
    margin-bottom: 24px;
}

.bottomText {
    margin-top: 16px;
}

@media (max-width: 1280px) {
    .text {
        font-size: 14px;
    }
}