.navigation {
    padding: 16px;
    --search-icon-color: var(--icon-color-1);
}

.navigation.isCompact {
    padding: 16px 12px;
}

.title {
    margin-bottom: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button.isCompact {
    height: 36px;
}

.value {
    margin-left: 28px;
    text-wrap: nowrap;
}

.icon {
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
}

.buttonEnd {
    margin-left: auto;
    width: 14px;
    height: 14px;
}

.searchButton {
    background-color: var(--bg-color-6);
}


@media (max-width: 1280px) {
    .navigation .button {
        height: 42px;
    }
}
