.content {
    --add-color: #fff;
}

.button {
    background-color: var(--color-24);
    color: var(--white-color);
}

@media (max-width: 1280px) {
    .projects {
        padding: 0 16px;
    }

    .icon {
        width: 48px;
    }
}