.tarrifName {
    color: var(--color-10);
}

.box {
    display: block;
}

.boxTop {
    display: flex;
    align-items: center;
    gap: 12px;
}

.count {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-10);
    background: var(--color-2);
    border-radius: 12px;
}

.button {
    margin-left: auto;
    padding: 0 16px;
}


.balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--primary-border-color);
    gap: 16px;
}

.balance .count {
    background: transparent;
    padding: 0;
}

.balanceButton {
    color: #fff;
    padding: 0 16px;
    margin-left: auto;
    background-color: var(--color-24);
}

.period {
    color: #fff;
    background: var(--green-color);
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}

.expired {
    color: #fff;
    background: #EC7F19;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .button,
    .balanceButton {
        width: 100%;
    }

    .title {
        font-size: 18px;
    }

    .boxTop,
    .balance {
        flex-wrap: wrap;
    }
}