.radio {
    border-radius: 50%;
    border: 1px solid var(--color-41);
    flex-shrink: 0;
    position: relative;
}

.radio.active {
    border: 1px solid #0e7d42;
    background-color: #0e7d42;
    display: grid;
    place-items: center;
}

.radio.active:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
