.button {
    text-wrap: nowrap;
    padding-right: 8px;
    color: var(--color-13);
}

.button:hover {
    background-color: var(--color-1);
}

.add {
    margin-left: auto;
}

.value {
    margin-left: 28px;
}

.icon {
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
}


