.chatForm {
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    background-color: var(--bg-color-7);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 10px 0 rgba(41, 50, 43, 0.10);
    border: 1px var(--border-color-2) solid;

}

.textarea {

    resize: none;
}

.textarea:focus {
    outline: none;
}

.bottom {
    gap: 12px;
    display: flex;
    align-items: center;
}

.microphone {
    margin-left: auto;
}

.sendButton {
    background-color: var(--bg-color-5);
    --up-icon-color: var(--icon-color-10);
}

.sendButton:disabled {
    background-color: var(--bg-color-1);
    --up-icon-color: var(--icon-color-9);
}