.chatForm {
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 10px 0 rgba(41, 50, 43, 0.10);
    border: 1px var(--color-19) solid;

}

.textarea {
    resize: none;
}

.textarea:focus {
    outline: none;
}

.bottom {
    gap: 12px;
    display: flex;
    color: var(--color-11);
    align-items: center;
}

.microphone {
    margin-left: auto;
}

.sendButton {
    background-color: var(--color-5);
    --up-icon-color: var(--color-3);
}

.sendButton:disabled {
    background-color: var(--color-1);
    --up-icon-color: var(--color-7);
}