.overlay {
    background-color: var(--preview-bg);
    height: 100dvh;
    position: fixed;
    z-index: 60;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    padding: 40px 12px;
    overflow-y: auto;
    backdrop-filter: var(--blur);

}


.content {
    margin: auto;
    max-width: 680px;
    width: 100%;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    --close-color: var(--color-11);
}