.message.hasMessage {
    flex-grow: 1;
}

.form {
    margin-top: 40px;
}

.transition {

    transition: .4s all linear;
}

.titleSpan {
    color: var(--green-color);
}

.text {
    margin-top: 16px;
}

.listWrapper {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listWrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.list {
    display: grid;
    grid-template-columns: repeat(6, 114px);
    width: max-content;
    justify-content: start;
    margin-top: 20px;
    gap: 12px;
}

.item {
    min-height: 120px;
    flex-shrink: 0;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.box {
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--color-9);
    border: 1px solid var(--primary-border-color);
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(27, 28, 29, 0.05);
}

@media (max-width: 1280px) {
    .chat {
        padding: 0;
    }

    .chatTop {
        padding: 0 16px;
    }

    .item {
        min-height: 108px;
    }

    .listWrapper {
        padding-left: 16px;
    }
}