.titleSpan {
    display: flex;
    gap: 8px;
}

.wrapper {
    margin: 24px 0;
}

.list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.count {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    margin-left: auto;
}