.projects {
    flex-grow: 1;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search {
    flex-grow: 1;
}

.button {
    --add-color: var(--color-17);
}

.list {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.project {
    padding: 24px;
    width: calc(50% - 8px);
    border: 1px solid var(--border-color-1);
    border-radius: 16px;
    justify-content: space-between;
    display: flex;
    gap: 24px;
}

.itemTitle {
    color: var(--color-29);
    margin-bottom: 8px;
}

.description {
    color: var(--color-13);
    margin-bottom: 24px;
}

.date {
    color: var(--color-26);
}

.project:hover {
    box-shadow: 0 2px 5px 0 rgba(41, 50, 43, 0.10);
    background-color: var(--color-3);
}

.title {
    display: none;
}

.buttons {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    --trash-bin-color:#646567 ;
    --messages-color: #646567;
}

.project:hover .buttons {
    display: flex;
}

.modal {
    padding: 24px;
}

.modalText {
    margin: 12px 0 24px;
}

.modalButtons {
    display: flex;
    gap: 12px;
}
@media (max-width: 1280px) {

    .top {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .projects .button {
        height: 40px;
        padding: 0 12px;
    }

    .search {
        width: 100%;
    }

    .title {
        font-size: 18px;
        display: block;
    }
}

@media (max-width: 768px) {
    .project {
        width: 100%;
    }


    .buttons {
        display: flex;
    }

}