.top {
    display: flex;
    gap: 10px;
}

.dropdown {
    width: 420px;
    padding: 12px 16px 106px 12px;
    max-height: 640px;
    position: relative;
    overflow-y: auto;
}

.sheet {
    border-radius: 24px 24px 0 0;
    padding:0 12px 146px;
}
.bottom {
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-3);
    border-top: var(--primary-border-color) 1px solid;
}
.dropdown .button {
    min-height: 64px;
    text-align: start;
    padding: 12px;
}

.wrapper {
    margin-top: 16px;
}

.search {
    width: 100%;
}

.list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info {
    flex-grow: 1;
}

.count {
    min-width: 50px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 4px 0 auto;
    font-weight: 600;
}

.pin {
    margin-left: auto;
    background-color: var(--color-2);
}

.button:hover .pin {
    background-color: var(--color-9);
}

.wrapperTitle {
    padding-left: 16px;
}

.name {
    text-wrap: nowrap;
}

@media (max-width: 1280px) {
    .aiSelectButton {
        margin-right: auto;
    }
}