.avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.email {
    color: var(--color-14);
}

.button {
    background-color: var(--color-2);
    margin-left: auto;
    padding: 0 16px;
}

.modal {
    padding: 24px;
    width: 100%;
    max-width: 374px;
}
@media (max-width: 768px) {
    .button {
        width: 40px;
        padding: 0;
        justify-content: center;
    }

    .title {
        font-size: 18px;
    }
    .button span {
        display: none;
    }
}