.avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.email {
    color: var(--color-14);
}

.button {
    background-color: var(--color-2);
    margin-left: auto;
    padding: 0 16px;
}


@media (max-width: 768px) {
    .button {
        width: 40px;
        padding: 0;
        justify-content: center;
    }

    .button span {
        display: none;
    }
}