.message {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 15px;
    border: 1px solid var(--primary-border-color);
    background: var(--color-3);
    cursor: pointer;
}

.message:hover {
    box-shadow: 0 2px 5px 0 rgba(41, 50, 43, 0.10);
}

.wrapper {
    width: 100%;
    flex-grow: 1;
}

.input {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-10);
}

.input:focus {
    outline: none;
}

.date {
    margin-top: 8px;
    color: var(--color-14);
}


.hoverBlock,
.focusedBlock {
    margin-left: auto;
    gap: 8px;
    align-self: center;
    display: none;
}

.focusedBlock {
    align-self: flex-start;
    display: flex;
    --close-color: var(--color-26);
}


.message:hover .hoverBlock {
    display: flex;
}

.messagesButton {
    --messages-color: #646567;
    height: 20px;
}

.deleteButton {
    --trash-bin-color: #646567;
    height: 20px;
}

.button {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
}