.dark {
    /*Backgrounds*/
    --main-bg: #141415;
    --sidebar-bg: #232425;
    --sidebar-outline-bg: rgba(20, 20, 21, 0.70);
    --panel-bg: #232425;
    --header-bg-color: #232425;
    --green-bg: #0E7D42;
    --opacity-bg: rgba(20, 20, 21, 0.10);


    --color-1: #3E3E3F;
    --color-2: #3E3E3F;
    --color-3: #232425;
    --color-4: #646567;
    --color-5: #fff;
    --color-6: #3E3E3F;
    --color-7: #646567;
    --color-8: transparent;
    --color-9: #646567;
    --color-10: #fff;
    --color-11: #A1A4A9;
    --color-12: #232425;
    --color-13: #A1A4A9;
    --color-14: #A1A4A9;
    --color-15: #fff;
    --color-16: #88898C;
    --color-17: #DBDFE2;
    --color-18: #DBDFE2;
    --color-19: #3E3E3F;
    --color-20: #fff;
    --color-21-start: rgba(255, 255, 255, 0.50);
    --color-21-end: #FFF;
    --color-22: #DBDFE2;


    /*  Colors  */
    --primary-text-color: #DBDFE2;
    --secondary-text-color: #DBDFE2;
    --white-color: #fff;
    --cancel-color: #DBDFE2;
    --cancel-color-2: #A1A4A9;
    --cancel-color-3: #fff;
    --success-color: #DBDFE2;
    --success-color-2: #A1A4A9;
    --green-color: #0E7D42;


    /*  Borders  */
    --sidebar-border: transparent;
    --primary-border-color: #3E3E3F;


    /*blur */
    --blur: blur(15px);


    /*    others*/
    --input-placeholder-color: #A1A4A9

}