.light {
    /*Backgrounds*/
    --main-bg: #fff;
    --sidebar-bg: #F8F8F8;
    --sidebar-outline-bg: rgba(20, 20, 21, 0.70);
    --panel-bg: transparent;
    --header-bg-color: #fff;
    --green-bg: #0E7D42;
    --opacity-bg: rgba(20, 20, 21, 0.5);

    --color-1: #E9EAEB;
    --color-2: #fff;
    --color-3: #fff;
    --color-4: #F4F5F6;
    --color-5: #232425;
    --color-6: #F4F5F6;
    --color-7: #A1A4A9;
    --color-8: #F4F5F6;
    --color-9: #fff;
    --color-10: #141415;
    --color-11: #232425;
    --color-12: #F8F8F8;
    --color-13: #646567;
    --color-14: #3E3E3F;
    --color-15: #3E3E3F;
    --color-16: #88898C;
    --color-17: #232425;
    --color-18: #3E3E3F;
    --color-19: #DBDFE2;
    --color-20: #000;
    --color-21-start: #6A77F0;
    --color-21-end: #2F1BA3;
    --color-22: #646567;


    /*Colors*/
    --primary-text-color: #232425;
    --secondary-text-color: #646567;
    --white-color: #fff;
    --cancel-color: #EC3332;
    --cancel-color-2: #EC3332;
    --cancel-color-3: #EC3332;
    --success-color: #0E7D42;
    --success-color-2: #0E7D42;
    --green-color: #0E7D42;

    /*  Borders  */
    --sidebar-border: #EDEEF0;
    --primary-border-color: #EDEEF0;


    /*    others*/
    --input-placeholder-color: #A1A4A9

}




