.light {
    /*Backgrounds*/
    --main-bg: #fff;
    --sidebar-bg: #F8F8F8;
    --sidebar-outline-bg: rgba(20, 20, 21, 0.70);
    --panel-bg: transparent;
    --primary-bg-color:#fff;
    --secondary-bg-color:#F4F5F6;
    --header-bg-color:#fff;
    --green-bg: #0E7D42 ;
    --opacity-bg: rgba(20, 20, 21, 0.5);
    --bg-color-1:#E9EAEB ;
    --bg-color-2:#fff;
    --bg-color-3:#fff;
    --bg-color-4:#F4F5F6;
    --bg-color-5:#232425;
    --bg-color-6:#F4F5F6;
    --bg-color-7:#fff;
    --bg-color-8:#A1A4A9;
    --bg-color-9: #F4F5F6;
    --bg-color-10: #fff;


    /*Colors*/
    --primary-text-color: #232425;
    --secondary-text-color: #646567;
    --white-color:#fff;
    --cancel-color:#EC3332;
    --success-color:#0E7D42;
    --green-color: #0E7D42 ;
    --text-color-1: #141415;
    --text-color-2: #232425;
    --text-color-3: #232425;
    --text-color-4: #F8F8F8;

/*  Borders  */
    --sidebar-border:#EDEEF0;
    --primary-border-color:#EDEEF0;
    --border-color-1:#F4F5F6;
    --border-color-2:#DBDFE2;
/*   Icon-colors*/
    --cancel-icon-color-1: #EC3332;
    --success-icon-color-1: #0E7D42;
    --icon-color-1: #646567;
    --icon-color-2: #3E3E3F;
    --icon-color-3: #3E3E3F;
    --icon-color-4: #88898C;
    --icon-color-5: #232425;
    --icon-color-6: #3E3E3F;
    --icon-color-7: #232425;
    --icon-color-8: #232425;
    --icon-color-9: #A1A4A9;
    --icon-color-10: #fff;
    --icon-color-11: #A1A4A9;
    --icon-color-12: #F4F5F6;


    /*    others*/
    --input-placeholder-color:#A1A4A9

}




