.chat {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    padding: 24px 16px;
}

.box {
    width: 100%;
}

.chat > .box:first-child {
    margin-top: auto;
}

.chat > .box:last-child {
    margin-bottom: auto;
}

.spacer {
    flex: 1 1 auto;
}

.spacerHidden {
    flex: 0 0 auto;
}

.chatForm {
    width: 100%;
    transition: margin 0.3s linear; /* не all */
}

.content {
    width: 100%;
}

.chatForm.bottom {
    margin-top: auto; /* прижать вниз */
}

