.text {
    max-width: 290px;
}

.button {
    color: #fff;
    margin-left: auto;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
        align-items: flex-start;
    }

    .button {
        width: 100%;
    }
}
