.content {
    padding: 12px 16px;
    max-height: calc(640px - 89px);
}

.top {
    display: flex;
    gap: 8px;
}

.search {
    flex-grow: 1;
}

.pin {
    --pin-color: var(--color-11);
    background-color: var(--color-6);
}

.pin:hover {
    background-color: var(--color-1);
}

.wrapper {
    margin-top: 16px;
}

.title {
    padding-left: 16px;
    color: var(--color-13);
}

.list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom {
    padding: 16px;
    background-color: var(--color-3);
    border-top: 1px solid var(--color-6);
}

@media (max-width: 1280px) {
    .content {
        max-height: 100%;
        padding-bottom: 210px;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}