h1 {

}

h3 {
    font-size: 40px;
    font-weight: 600;
}


@media (max-width: 1280px) {
    h3 {
        font-size: 30px;
    }
}


@media (max-width: 768px) {
    h3 {
        font-size: 24px;
    }
}