.dropdown {
    width: 420px;
    max-height: 616px;
    padding: 12px 16px;
}

.mainButton {
    margin-right: auto;
}

.mobileTop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--color-14);
    gap: 8px;
    padding: 8px 0 24px;
}

.gpt {
    width: 20px;
    height: 20px;
}