.switcher {
    margin: 0 0 24px 0;
}

.box {
    display: block;
}

.list {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.start {
    flex-grow: 1;
}

.end {
    margin-left: 28px;
    text-align: end;
    text-wrap: nowrap;
}

.count {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.noTransaction {
    height: 128px;
    display: grid;
    place-items: center;
    color: #88898c;
}

.dayValue {
    margin-bottom: 16px;
}

.line {
    background-color: var(--color-19);
    height: 1px;
    margin: 24px 0;
}

@media (max-width: 768px) {
    .box {
        padding: 16px;
    }

    .date {
        font-size: 12px;
    }

    .end {
        margin-left: 0;
    }

    .period,
    .count,
    .type,
    .itemName {
        font-size: 14px;
    }

    .start {
        max-width: 104px;
    }

    .count,
    .period {
        margin: 0 auto;
    }
}
