.header {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.countAdd {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--color-8);
}

.button {
    margin-left: auto;
}

.button:hover .countAdd {
    background-color: var(--color-1);
}

.menuButton,
.panelButton {
    display: none;
}

@media (max-width: 1280px) {
    .header {
        padding: 16px;
        justify-content: normal;
        background-color: var(--header-bg-color);
        border-bottom: 1px solid var(--header-border);
    }

    .button {
        margin-left: auto;
    }

    .menuButton,
    .panelButton {
        display: block;
    }

    .menuButton {
        height: 24px;
    }

    .panelButton {
        height: 19px;
        margin-left: 8px;
    }

}