.button {
    position: relative;
    min-height: 64px;
    padding: 12px;
    cursor: pointer;
}

.title {
    position: absolute;
    left: 52px;
    text-wrap: nowrap;
}

.text {
    margin-top: 21px;
}

.count {
    margin: 0 4px 0 auto;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    font-size: 14px;
    min-width: 50px;
}



.modalTitle {
    color: var(--color-10);
}




.pinButton {
    background-color: var(--color-2);
}

.button:hover .pinButton {
    background-color: var(--color-9);
}

.pin {
    --pin-color: var(--color-13);
}

.pinCancel {
    --pin-color: #A1A4A9;
}