.box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-wrap: nowrap;
}

.button {
    gap: 4px;
    justify-content: center;
}

.button.isCompact {
    height: 40px;
}

.title {
    color: var(--color-5);
}

.text {
    color: var(--secondary-text-color);
}