.instruments {
    display: flex;
    color: var(--color-11);
    align-items: flex-end;

}
.left,
.right {
    display: flex;
    align-items: center;
}

.left {
    flex-wrap: wrap;
    margin-right: auto;
    gap: 12px;
}

.add,
.instrumentsButton{
    --instruments-icon-color: var(--color-14);
    color: var(--color-11);
    --add-icon-color:  var(--color-14);
}
.add:hover,
.instrumentsButton:hover{
    color: var(--color-17);
    background-color: var(--color-1);
    --add-icon-color:  var(--color-18);
    --instruments-icon-color: var(--color-18);
}

.add.hasText,
.instrumentsButton.hasText{
  background-color: var(--color-6);
}



.microphone {
    margin-left: auto;
    margin-right: 12px;
    --microphone-icon-color: var(--color-26);
}


.microphone:hover {
    --microphone-icon-color: var(--color-18);
    background-color: var(--color-1);
}
.sendButton {
    background-color: var(--color-5);
    --up-icon-color: var(--color-3);
}

.sendButton:disabled {
    background-color: var(--color-1);
    --up-icon-color: var(--color-7);
}

.dropdown {
    width: 231px;
    text-align: start;
}

@media (max-width: 768px) {
.sendButton {
    width: 40px;
    height: 40px;
}

    .add.mb {
        margin-bottom: 12px;
    }
}