.message {
    border-radius: 12px;
    background: var(--bg-color-5);
    padding: 8px 12px;
    position: relative;
    color: var(--text-color-4);
    font-size: 14px;
    z-index: 100;
}

.svg.bottom {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -6px);
    z-index: -1;
}

.svg.top {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 6px);
    z-index: -1;
}