.xs {
    font-size: 12px;
}

.sm {
    font-size: 14px;
}

.md {
    font-size: 16px;
}

.lg {
    font-size: 18px;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}




@media (max-width: 768px) {
    .lg {
        font-size: 16px;
    }
}