.xs {
    font-size: 12px;
}

.sm {
    font-size: 14px;
}

.md {
    font-size: 16px;
}

.lg {
    font-size: 18px;
}

.lg-always {
    font-size: 18px;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.dark {
    color: var(--color-10);
}

.secondary {
    color: var(--color-13);
}

@media (max-width: 768px) {
    .lg {
        font-size: 16px;
    }
}
