.messages:not(.noMessages) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}


.indicator {
    align-self: start;
}