.modal {
    max-width: 650px;
    width: 100%;
    padding: 24px;
}

.title {
    color: var(--color-10);
}

.box {
    border-radius: 16px;
    padding: 16px 24px;
    background-color: var(--color-6);
    display: block;
}

.tablet {
    padding: 4px 12px;
    border-radius: 12px;
    background: #0E7D42;
    margin-bottom: 16px;
    width: fit-content;
    color: #fff;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.count {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 32px;
    border-radius: 10px;
    opacity: 0.2;
    background: #DBDFE2;
}

.list {
    max-height: 164px;
    margin-top: 16px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 14px;
    --pro-icon-color: var(--primary-text-color);
}

.item {
    width: calc(50% - 6px);
    display: flex;
    gap: 8px;
    align-items: flex-start;
    --pro-icon-color: var(--primary-text-color);
}

.buttons {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.button {
    background-color: #E9EAEB;
    color: #232425;
}

.cancelButton {
    color: var(--color-11);
}

@media (max-width: 768px) {

    .modal {
        max-width: 343px;
        padding: 24px 16px;
    }

    .list {
        max-height: 100%;
        flex-wrap: nowrap;
    }

    .box {
        padding: 16px;
    }

    .tablet {
        font-size: 12px;
    }

    .line {
        display: none;
    }

    .title {
        font-size: 20px;
    }

    .buttons {
        flex-direction: column;
    }

    .modal .button,
    .modal .cancelButton {
        font-size: 14px;
        height: 44px;
    }

    .item {
        width: 100%;
    }

}